{% extends 'base.html' %}
{% load static %}

{% block title %}{{file.name}}{% endblock %}
{% block menu %}
    {% if perms.webapp.change_file or file.author == request.user %}
        <li class="nav-item"><a href="{% url 'webapp:update_file' file.pk %}" class="nav-link">Редактировать</a></li>
        <li class="nav-item"><a href="{% url 'webapp:file_delete' file.pk %}" class="nav-link">Удалить</a></li>
    {% endif %}
{% endblock %}
{% block content %}
    <h1>{{ file.name }}</h1>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Подпись:{{ file.name }}</h5>
        <p class="card-text">Автор: <a href="{% if file.author.pk %}{% url 'accounts:detail' file.author.pk %}{% endif %}">{{ file.author|default_if_none:"Аноним"}}</a></p>
        <p class="card-text">Дата создания: {{ file.created_at }}</p>
        <p><a href="{{ file.file.url }}" download=""
              class="btn btn-primary">Скачать</a></p>
    </div>
</div>


{% endblock %}

